# Ignore unfiltered data
data/unfiltered/
data/splits

# Ignore build directory
src/build/

# Ignore compiled binaries
*.o
*.out
*.exe

# Ignore other common unwanted files
*.log
*.tmp
*.swp

# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.env
